version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: fastapi_app
    ports:
      - "8080:8080"
    volumes:
      - ./app:/app/booking
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://postgres:admin:5432@db/store_app

  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: ('postgres')
      POSTGRES_PASSWORD: adminadmin
      POSTGRES_DB: booking
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: